<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h1>Ofrecemos los siguientes servicios:</h1>
        </div>
    </div>
    <div class="row mt-3">
        <h3>ERP</h3>
        <hr>
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/img/pagina/erp1.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/erp2.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/erp3.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/erp4.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/erp5.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        
        <div class="col-md-6">
            <p style="text-align: justify;">
                Nuestra solución de negocios ERP (Enterprise Resource Planning) ofrece tecnología desarrollada para la nube o de manera local, para diversas plataformas (Windows, Linux o Móvil). <br>
                Nuestras soluciones de negocio le brindan una vista completa en tiempo real de su negocio en cualquier momento, ¡en cualquier lugar y en cualquier dispositivo!! Imagine autorizar, pagar, ver un reporte o ingresar datos desde su celular. <br>
                ERP le ofrece un conjunto completo de aplicaciones integradas de administración empresarial, que incluyen:
            </p>
            <button class="btn btn-primary" type="button2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight2">Ver más...</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Aplicaciones integradas</h5>
                <button type="button2" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <li>Finanzas.</li>
                    <li>Distribución.</li>
                    <li>Control de Inventarios y Almacenes Logística.</li>
                    <li>CRM.</li>
                    <li>Contabilidad y Facturación Electrónica.</li>
                    <li>E-Commerce.</li>
                    <li>Punto de Venta.</li>
                    <li>Entre muchas más.</li>
                </ul>
            </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <h3>TI y Desarrollo</h3>
        <hr>
        <div class="col-md-6">
            <p style="text-align: justify;">
                En ShelbyIn estamos siempre actualizados a las últimas herramientas de desarrollo, por lo que ponemos a su disposición los siguientes servicios:
            </p>
            <ul>
                <li>Desarrollo de Aplicaciones Web</li>
                <li>Desarrollo de Aplicaciones Móviles</li>
                <li>Desarrollo Web para Comercio Electrónico.</li>
                <li>Mantenimientos de Sitios Web</li>
            </ul>
            <p>Todo esto utilizando tecnología Full-Stack...</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Ver más...</button>
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class ="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">Servicios Full Stack</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class  ="offcanvas-body small">
                <div class="row" >
                    <div class="col-6">
                        <h6>Software de Cliente (Front-End)</h6>
                        <ul>
                            <li>JavaScript.</li>
                            <li>HTML 5.</li>
                            <li>Json.</li>
                            <li>Angular.</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>Software de Servidor (Back-End)</h6>
                        <ul>
                            <li>PHP.</li>
                            <li>Node.js</li>
                            <li>Java.</li>
                            <li>Python.</li>
                            <li>Bases de Datos (MySQL, SQL, ORACLE).</li>
                            <li>Entre muchas más.</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>


        <div class="col-md-6">
            <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/img/pagina/web1.png" class="d-block w-100" height="400px" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/pagina/web2.png" class="d-block w-100" height="400px" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/pagina/web3.png" class="d-block w-100" height="400px" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/pagina/web4.png" class="d-block w-100" height="400px" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button2" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

    </div>
    <div class="row mt-3">
        <h3>Electrónica</h3>
        <hr>
        <div class="col-md-6">
            <div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button3" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button3" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button3" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button3" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button3" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/img/pagina/circuito1.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/circuito2.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/circuito3.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/circuito4.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/pagina/circuito5.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>


        <div class="col-md-6">
            <h5>Realizamos el diseño del circuito y armado del mismo.</h5>
            <p style="text-align: justify;">
                Brindamos soluciones integrales en electrónica a cada proyecto, buscamos cumplir con todas las necesidades del cliente, ya sea nuevos diseños, implementación o fabricación de circuitos electrónicos. <br><br>
                Llevamos a cabo la investigación y desarrollo, del circuito, posteriormente el prototipo y finalmente el diseño terminado en un circuito electrónico.
            </p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Ver más...</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Pasos que utilizamos para elaborar un prototipo o circuito electrónico.</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ol>
                    
                  <li>Planteamiento del problema.</li>
                  <li>Análisis de funcionamiento.</li>
                  <li>Diseño y simulación.</li>
                  <li>Diseño del circuito impreso.</li>
                  <li>Revelado del circuito impreso.</li>
                  <li>Montaje y Ensamble.</li>
                  <li>Pruebas finales.</li>
                  <li>Entrega al cliente.</li>
                </ol>
            </div>
            
            
        </div>
        
    </div>

    <div class="row mt-4">
        <h3>Modelado e Impresión 3D</h3>
        <hr>
        <div class="col-md-6">
            <h5>Realizamos diseño estructural y Maquetación de tu proyecto.</h5>
            <p style="text-align: justify;">
                Impresión de Prototipos: Nuestras máquinas de impresión de última generación son utilizadas para obtener piezas rápidamente, de alta calidad y económicas que representen sus diseños 3D. <br>
                Estas mismas se pueden usar para validar algunas características como: funcionalidad, apariencia y dimensiones. 
                Las podemos imprimir en diferente tipo de material (Filamentos).
            </p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight3">Ver más...</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Método de fabricación.</h5>
                <button type="button3" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p> Las impresoras que utilizamos son de tecnología FDM que es Modelado por deposición fundida
                  la cual se basa en 3 elementos principales: una placa/cama de impresión en la que se imprime
                  la pieza, una bobina de filamento que sirve como material de impresión y un cabeza de extrusión
                  también llamada extrusor.
                </p>
                  <br>
                  <p>La impresión en 3D nos permite crear casi cualquier objeto que necesitemos.</p>
                  
                  <br>
                  <p>Los modelos se pueden clasificar de la siguiente manera:</p>
                
                  <ul>
                    <li>Básico: Modelos sencillos, figuras con geometrías básica.</li>
                    <li>Orgánico: diseño de joyería, juguetes, piezas de decoración</li>
                    <li>Desarrollo Web para Comercio Electrónico.</li>
                    <li>Desarrollo de ingeniería: Diseño de prototipos, carcasas, piezas mecánicas funcionales, refacciones.</li>
                </ul>

                  <br>
                  <p>
                    Materiales:
                    <br>
                    <br>
                    La tecnología FDM nos permite trabajar con distintos materiales que cuentan con diferentes características
                    que se pueden aprovechar dependiendo del uso que se le va a dar a la pieza impresa. Algunos de los materiales
                    que utilizamos son: PLA, ABS, ASA, TPU, PLA Flexible, PETG.
                    
                  </p>
                  

                
                    
                    
                
            </div>

        </div>
        
          </div>
          

        <div class="col-md-6">

          <div id="carouselExampleCaptions4" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="../../../assets/img/productos/34.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="../../../assets/img/productos/35.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="../../../assets/img/productos/36.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="../../../assets/img/productos/37.png" class="d-block w-100" height="400px" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="../../../assets/img/productos/38.png" class="d-block w-100" height="400px" alt="...">
                  </div>
              </div>
              <button class="carousel-control-prev" type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button4" data-bs-target="#carouselExampleCaptions4" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
    
        
    </div>
    
</div>