<img src="../../../assets/img/logo/Logo Shelby In.png" alt="" class="img-fluid">

<div class="cajaPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 callout">
                <div class="cajaItem">
                    <h3 style="text-align: center;">Innovación</h3>
                    <br>
                    <p style=text-align:justify;> Ayudamos a transformar tu empresa, esto mediante un análisis de requerimientos
                    para así poder brindarte la mejor solución a tus necesidades, Mediante la creación o implementación de 
                    software y hardware A la medida y así facilitar que realices tus actividades de manera más fácil y eficiente
                    o en su caso de una manera automatizada.</p>
                </div>
            </div>
            <div class="col-lg-4 callout">
                <div class="cajaItem">
                    <h3 style="text-align: center;">TI y Desarrollo</h3>
                    <ul>
                    <br>
                        <li style=text-align:justify;>Desarrollar aplicaciones móviles.</li>
                        <li style=text-align:justify;>Desarrollo de páginas web.</li>
                        <li style=text-align:justify;>Diseñar y desarrollar Hardware.</li>
                        <li style=text-align:justify;>Mantenimiento de Hardware de nuestros colaboradores.</li>
                        <li style=text-align:justify;>Realización de proyectos conjuntos (Hardware y Software) para la automatización de actividades.</li>
                        <li style=text-align:justify;>Desarrollo de ERP con Oddo, para ayudar a las empresas en sus tareas de administración y toma de decisiones, automatizando todos sus procesos. </li>
                    </ul>
                </div>
            </div>
                <!-- col-lg-4 -->
                <div class="col-lg-4 callout">
                    <div class="cajaItem">
                        <h3 style="text-align: center;">Modelado e Impresión 3D</h3>
                        <ul>
                        <br>
                        <li style=text-align:justify;>Maquetación de proyectos en 3D.</li>
                        <li style=text-align:justify;>Realización de prototipos en 3D.</li>
                        <li style=text-align:justify;>Impresión en 3D con diversos filamentos.</li>
                        <li style=text-align:justify;>Incursionando en el área médica en la realización de cubre bocas impresos en 3D.</li>    
                        </ul>
                    </div>
                </div>
              <!-- col-lg-4 -->
        </div>
    </div>    
</div>
