
<div class="piePagina">
    <div class="container pt-5">
      <div class="row">
          <div class="col-6" style="text-align: right;">
            <h5>Dirección</h5>
            <p>Pirules # 53-402 Col. Pirules <br>
            52779 Naucalpan Edo. de México</p>
          </div>
          <div class="col-6">
              <h5>Contactos</h5>
              <p>86-62-07-75,
                86-62-07-76<br>
                info@shelbyin.com</p>
          </div>
      </div>
      <div class="row" style="text-align: center;">
          <p>© Copyright SHELBY IN SERVICIOS ESPECIALIZADOS - All Rights Reserved</p>
      </div>
    </div>
  </div>


